.main {
    margin-left: 160px;
    padding: 100px;
}
.sidelink {
    width: inherit;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: none
}
.sidelink:hover{
    transform: scale(1.05);
    cursor: pointer;
}